<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Breed new">
  <h2>Create Breed</h2>

  <%= form_for(:catbreed, :url => {:action => 'create'}, :html => { :multipart => true }) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Breed") %>
    </div>

  <% end %>
</div>