<% @page_title = 'Home Page' %>


<div class="user home">
  <h2>My Account</h2>
  </br></br></br>
  <p class='center'><%= link_to("Show MyPosts", {:action => 'postshow'})%> </p>
  <p class='center'><%= link_to("Edit Account Information", {:action => 'edit'})%> </p>

</div>