
<div class="User_new">
  <h2>Create Account</h2>

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Account") %>
    </div>

  <% end %>
</div>
